.title {
    font-family: 'TTOctosquares';
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 2vw;
    text-transform: uppercase;

    &Medium {
        font-size: 4.7143rem;
        margin-bottom: 1.4286rem;
        text-align: center;
    }

    &Large {
        font-size: 5.7143rem;
    }
}