.navigation {
    font: bold 1.1429rem/1 'NeueMachina', sans-serif;
    display: flex;
    align-items: center;
    position: fixed;
    left: 2.8571rem;
    gap: 3vh;
    writing-mode: vertical-rl;
    z-index: 9;

    &Link {
        color: white;
        text-decoration: none;
        opacity: 0.7;
        transition: all 0.3s;
        padding: 1rem 0;
        left: 2.4rem;

        &:hover,
        &:visited {
            color: white;
            opacity: 1;
        }

        &Active {
            opacity: 1;
        }
    }

    &Star {
        display: block;
        width: 1.5714rem;
        height: 1.5714rem;
        background: url('./images/star.svg') no-repeat center center;
    }
}