.buttonClip {
    border: none;
    box-shadow: none;
    font: 1.1429rem/1rem 'NeueMachina', sans-serif;
    background: none;
    color: white;
    padding: 1.4286rem 1.7857rem 1.1429rem;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    height: 4rem;

    &:hover {
        .buttonClipArt {
            background: white;
            border-color: black;
        }

        .buttonClipText {
            color: black;
        }
    }

    &Art {
        display: block;
        z-index: 0;
        height: 100%;
        width: 100%;
        clip-path: polygon(0% 10%, 70% 10%, 75% 0%, 100% 0%, 100% 93.6%, 28.2% 93.6%, 20% 100%, 0% 100%);
        border: 2px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s;
    }

    &Text {
        position: relative;
        z-index: 1;
    }
}