.button {
    border: none;
    box-shadow: none;
    font: 1.1429rem/1rem 'NeueMachina', sans-serif;
    background: none;
    box-shadow: none;
    color: white;
    padding: 1.4286rem 1.7857rem 1.1429rem;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    height: 4rem;

    &:hover {
        color: black;

        .buttonArrow {
            fill: black;
        }

        .buttonLine {
            fill: white;
            stroke: black;
        }

        .buttonBorderCenter {
            fill: white;
        }
    }

    &Border {
        &Left {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            height: 4rem;
            width: 50%;
            overflow: hidden;

            svg {
                height: 100%;
            }
        }

        &Right {
            position: absolute;
            z-index: 0;
            right: 0;
            top: 0;
            height: 4rem;
            width: 51%;
            overflow: hidden;

            svg {
                position: absolute;
                right: 0;
                height: 100%;
            }
        }
    }

    &Text {
        position: relative;
        z-index: 1;
    }

    &Arrow {
        transition: all 0.3s;
        fill:#fff;
    }
    
    &Line {
        transition: all 0.3s;
        fill: none;
        stroke: #fff;
        stroke-width: 2px;
    }
}