.logo {
    a {
        text-decoration: none;
        color: white;
        display: inline-block;
        text-indent: -1234em;
        background: url('./images/logo.png') center no-repeat;
        background-size: contain;
        width: 10.4rem;
        height: 1.3rem;
        transition: opacity 0.3s;

        &:hover,
        &:visited {
            color: white;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}