$size-height: 0.3571rem;
$size-top: 1.8571rem;
$size-bottom: 2.4286rem;
$size-border: 2px;

.artButton {
    border: none;
    box-shadow: none;
    font: 1.1429rem/1rem 'NeueMachina', sans-serif;
    background: none;
    color: white;
    padding: 1.4286rem 1.7857rem 1.1429rem;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    height: 4rem;

    &Text {
        position: relative;
        z-index: 2;
    }

    &:hover {
        &::after {
            background: white;
        }

        .artButtonText {
            color: black;
        }

        .artButtonAngleLeft {
            border-top-color: black;
        }

        .artButtonAngleRight {
            border-bottom-color: black;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        clip-path: polygon(
            0 $size-height,
            calc(100% - $size-bottom) $size-height,
            calc(100% - $size-top) 0,
            100% 0,
            100% 100%,
            $size-bottom 100%,
            $size-top calc(100% - $size-height),
            0 calc(100% - $size-height),

            0 calc(100% - $size-border - $size-height),
            calc($size-top + 1px) calc(100% - $size-border - $size-height),
            calc($size-bottom + 1px) calc(100% - $size-border),
            calc(100% - $size-border) calc(100% - $size-border),
            calc(100% - $size-border) $size-border,
            calc(100% - $size-top + $size-border - 1px) calc($size-border),
            calc(100% - $size-bottom + $size-border - 1px) calc($size-height + $size-border),
            $size-border calc($size-height + $size-border),
            $size-border calc(100% - $size-border - $size-height),
            0 calc(100% - $size-border - $size-height)
        );
        background: white;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: 0;
        transition: all 0.3s;
        clip-path: polygon(
            0 $size-height,
            calc(100% - $size-bottom) $size-height,
            calc(100% - $size-top) 0,
            100% 0,
            100% 100%,
            $size-bottom 100%,
            $size-top calc(100% - $size-height),
            0 calc(100% - $size-height),
        );
    }

    &AngleLeft {
        position: absolute;
        top: 10px;
        left: 4.5px;
        width: 0;
        height: 0;
        z-index: 1;
        border-top: 10px solid white;
        border-right: 10px solid transparent;
        transition: all 0.3s;
    }

    &AngleRight {
        position: absolute;
        bottom: 10px;
        right: 4.5px;
        width: 0;
        height: 0;
        z-index: 1;
        border-bottom: 10px solid white;
        border-left: 10px solid transparent;
        transition: all 0.3s;
    }
}
