.socialNetworks {
    display: flex;
    gap: 3vw;
    transition: all 0.3s;

    &Link {
        color: white;
        text-indent: -1234em;
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto; 

        &:hover,
        &:visited {
            color: white;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &DisCord {
        background-image: url('./images/game_icon.svg');
        background-size: 90% auto; 
    }

    &Twitter {
        background-image: url('./images/twitter_icon.svg');
        background-size: 90% auto; 
    }

    &AntDesign {
        background-image: url('./images/ant-design-icon.svg');
    }
}