.section {
    height: 100vh;
    padding: 2.1429rem 2.8571rem;
    box-sizing: border-box;
    min-height: 600px;

    &Main {
        background: url('/bg/screen_1_bg.jpg') center no-repeat no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 7.1429rem;
        padding-bottom: 7.1429rem;
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 2.2857rem;
    position: absolute;
    top: 2.2rem;
    left: 2.8571rem;
    right: 2.8571rem;
    z-index: 9;
}

.buttonList {
    display: flex;
    justify-content: center;
    gap: 1.4286rem;
}